.navbar-collapse{
    justify-content: flex-end 
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

a:hover{
    color:black;
}