.Main {
    width: 90%;
    margin: auto;
    background-color: rgba(0, 128, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: -10px -5px 15px rgba(0, 128, 0, 0.2), 10px 5px 15px rgba(0, 128, 0, 0.2);
}

.CardG {
    width: 80%;
    border: 1px solid green;
    border-radius: 5px;
    margin: 15px;
    background-color: rgb(238, 238, 238);
    box-shadow: 10px 5px 5px #75582973,  10px 0px 5px #75582973;
}

.CardD {
    width: 80%;
    border: 1px solid green;
    border-radius: 5px;
    margin: 15px;
    margin-left: calc(20% - 15px);
    background-color: rgb(213, 253, 175);
    box-shadow: -10px 0px 5px #634c2373, -10px 5px 5px #634c2373;

}

.CardTitle {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: baseline;
    border-bottom: 1px solid green ;
}

.Contenue {
    border-bottom: 1px solid green ;
    padding: 5px;
}

.CardFooter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-evenly;
}

.btnlike {
    margin: 10px;
    width: 80px;
    background-color: transparent;
    border : none;
}

.btncom {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    border : none;
}

.Comment {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
    width: 100%;
    flex-wrap: wrap;
}

.Commentaire {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#emptyMessage{
    color:brown;
    }
    
.standart {
    text-align: center;
}

.inputcom{border-radius: 10px;}